.landing {
    position: relative;
    width: 100%;
    height: auto;
}

.container {
    margin: 0 auto;
    width: 30rem;
    max-width: 100%;
    border-radius: 5px;
}

.post {
    width: 100%;
    height: 15rem;
    margin-bottom: 0.5rem;
    background-color: var(--grey);
}

.profile,
.right {
    display: none;
}

.post {
    padding: 3rem 1rem;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 100%;
}

.postImg {
    background-color: var(--black-disabled);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin-right: 0.5rem;
}

.postTitle {
    flex: 1;
    height: 100%;
}

.postBody {
    padding-top: 2rem;
    width: 100%;
}

@media screen and (min-width: 1000px) {
    .profile {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        top: 3rem;
        left: calc(50% - 25.5rem);
        transform: translateX(-50%);
        background-color: var(--grey);
        padding-top: 3rem;
        width: 20rem;
        height: 15rem;
        max-width: 70%;
    }

    .profileImg,
    .profileInfo {
        flex: 1;
        margin: 0 0.5rem;
    }

    .profileImg {
        display: flex;
        justify-content: flex-end;
    }

    .right {
        display: block;
        position: absolute;
        top: 0;
        left: calc(50% + 25.5rem);
        transform: translateX(-50%);
        background-color: var(--grey);
        width: 20rem;
        height: 30.5rem;
        max-width: 70%;
    }
}