.formImage {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: left;
}

.formImage img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.removeImg {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
    color: var(--grey);
}

.img, .input {
    margin: 1rem 0;
}

.input label {
    display: block;
    background-color: var(--grey);
    padding: 0.5rem 0;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    cursor: pointer;
    color: #777777;
}

.input input[type="file"] {
    display: none;
}

.inactive {
    visibility: hidden;
}