.user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
    padding: 0.5rem 0;
}

.user:hover {
    background-color: var(--grey-secondary);
}

.avatar {
    margin: 0.5rem 1rem;
}

.info {
    flex: 1;
    text-align: left;
}

.follow {
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
    font-size: 0.8rem;
    color: var(--black-light);
    padding: 0.375rem 0.5rem;
    border: 1px solid var(--black-light);
    transition: all 100ms ease-in-out;
}

.follow:hover {
    border: 1px solid var(--secondary);
    color: var(--secondary);
}