.wrapper {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

.header {
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--secondary);
}

.body {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 1rem 0;
}

.modal {
    width: 400px;
    max-width: 95%;
    max-height: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5rem 1rem;
    background-color: var(--grey-light);
    border-radius: 5px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.90);
}

.actions {
    text-align: right;
}