.container {
    margin: 0 auto;
    width: 95%;
    max-width: 95%;
}

@media screen and (min-width: 600px) {
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .users,
    .posts {
        position: relative;
        margin: 0.5rem 0;
        flex: 1;
    }

    .users {
        margin-right: 0.5rem;
    }
}

@media screen and (min-width: 1000px) {
    .container {
        width: 60rem;
    }
}